* {
    padding: 0;
    margin: 0;
}

body {
    background-color: yellow;
}

@media screen and (min-width:600px) {
    body {
        background-color: rgb(5, 125, 165);
    }

    button {
        background-color: black;
        color: black;
        font-size: 20px;
        box-shadow: rgb(253, 1, 253);
    }
}

@media screen and (min-width:600px) {
    body {
        background-color: violet;
    }

    button {
        background-color: rgb(167, 228, 0);
        color: black;
        font-size: 20px;
        box-shadow: rgb(105, 0, 170);
    }
}